* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

i {
  font-family: none;
}

ul {
  list-style: none;
}


html, body, #app {
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.clearfix:after{
    content:"";				/*设置内容为空*/
    height:0;				/*高度为0*/
    line-height:0;			/*行高为0*/
    display:block;			/*将文本转为块级元素*/
    visibility:hidden;		/*将元素隐藏*/
    clear:both;				/*清除浮动*/
}